ServerRoot "/etc/httpd"
Listen {{ webserver_port }}

# Essential Modules
LoadModule mpm_event_module modules/mod_mpm_event.so
LoadModule authz_core_module modules/mod_authz_core.so
LoadModule dir_module modules/mod_dir.so
LoadModule mime_module modules/mod_mime.so

User {{ webserver_user }}
Group apache

ServerName {{ inventory_hostname }}
DocumentRoot "/var/www/html"

<Directory "/var/www/html">
    Require all granted
</Directory>

ErrorLog "logs/error_log"

